<!DOCTYPE html>
<html>
<head>
    <title>Rps</title>
<!--    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel = "stylesheet" type = "text/css" href = "/stylesheet.css" />
</head>
<body>
<h1 class="glow">Rps</h1>
<h2 class="glow">Sign in to play</h2>

<form action="/names" method="post">
        <input class="block" type="text" name="name" placeholder="Player 1 name">
    <input class="block" type="submit" value="Submit">
</form>

</body>
</html>
